Examples/.DS_Store
Examples/apfelsine.seg
Examples/CMakeLists.txt
Examples/example01-orig.wav
Examples/example01-synth.wav
Examples/example01.ges
Examples/example01.seg
Examples/example02-orig.wav
Examples/example02-synth.wav
Examples/example02.ges
Examples/example02.seg
Examples/example03-orig.wav
Examples/example03-synth.wav
Examples/example03.ges
Examples/example03.seg
Examples/example04-orig.wav
Examples/example04-synth.wav
Examples/example04.ges
Examples/example04.seg
Examples/example05-orig.wav
Examples/example05-synth.wav
Examples/example05.ges
Examples/example05.seg
Examples/example06-orig.wav
Examples/example06-synth.wav
Examples/example06.ges
Examples/example06.seg
.vscode/settings.json
.DS_Store
