Examples/.DS_Store
Examples/apfelsine.seg
Examples/CMakeLists.txt
Examples/example01-orig.wav
Examples/example01-synth.wav
Examples/example01.ges
Examples/example01.seg
Examples/example02-orig.wav
Examples/example02-synth.wav
Examples/example02.ges
Examples/example02.seg
Examples/example03-orig.wav
Examples/example03-synth.wav
Examples/example03.ges
Examples/example03.seg
Examples/example04-orig.wav
Examples/example04-synth.wav
Examples/example04.ges
Examples/example04.seg
Examples/example05-orig.wav
Examples/example05-synth.wav
Examples/example05.ges
Examples/example05.seg
Examples/example06-orig.wav
Examples/example06-synth.wav
Examples/example06.ges
Examples/example06.seg
.vscode/settings.json
.DS_Store
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.4/CMakeSystem.cmake
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/VocalTractLab.dir/build.make
build/CMakeFiles/VocalTractLab.dir/cmake_clean.cmake
build/CMakeFiles/VocalTractLab.dir/CXX.includecache
build/CMakeFiles/VocalTractLab.dir/depend.internal
build/CMakeFiles/VocalTractLab.dir/depend.make
build/CMakeFiles/VocalTractLab.dir/DependInfo.cmake
build/CMakeFiles/VocalTractLab.dir/flags.make
build/CMakeFiles/VocalTractLab.dir/link.txt
build/CMakeFiles/VocalTractLab.dir/progress.make
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/AnatomyParams.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Dsp.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/F0EstimatorYin.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/GeometricGlottis.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Geometry.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/GesturalScore.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Glottis.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/IirFilter.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/ImpulseExcitation.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/LfPulse.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Matrix2x2.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/PoleZeroPlan.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Sampa.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/SegmentSequence.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Signal.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/SoundLib.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Splines.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/StaticPhone.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Surface.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Synthesizer.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/TdsModel.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/TimeFunction.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/TlModel.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/TriangularGlottis.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/Tube.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/TwoMassModel.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/VocalTract.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/VocalTractLabApi.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/VoiceQualityEstimator.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/VowelLf.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/XmlHelper.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Backend/XmlNode.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/AnalysisResultsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/AnalysisSettingsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/AnatomyParamsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/AnnotationDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/Application.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/AreaFunctionPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/BasicPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/ColorScale.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/CrossSectionPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/Data.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/EmaConfigDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/FdsOptionsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/FormantOptimizationDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/GesturalScorePage.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/GesturalScorePicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/GlottisDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/GlottisPanel.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/GlottisPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/Graph.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/LfPulseDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/LfPulsePicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/MainWindow.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/PhoneticParamsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/PoleZeroDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/PoleZeroPlot.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SignalComparisonPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SignalPage.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SignalPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SilentMessageBox.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SimpleSpectrumPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SpectrogramPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SpectrogramPlot.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SpectrumOptionsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SpectrumPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/SynthesisThread.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TdsOptionsDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TdsPage.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TdsSpatialSignalPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TdsTimeSignalPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TdsTubePicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TimeAxisPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/TransitionDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/VocalTractDialog.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/VocalTractPage.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/VocalTractPicture.cpp.o
build/CMakeFiles/VocalTractLab.dir/Sources/Frontend/VocalTractShapesDialog.cpp.o
build/bin/VocalTractLab
build/build.ninja
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-07e4e59c4e31f1136e17.json
build/.cmake/api/v1/reply/codemodel-v2-11b7cb958d2424927a53.json
build/.cmake/api/v1/reply/index-2021-09-13T13-42-38-0470.json
build/.cmake/api/v1/reply/target-VocalTractLab-Debug-3b322b48b550cc170c9e.json
build/.cmake/api/v1/reply/target-vtl-Debug-03aab6dcb03d46128e2a.json
build/CMakeFiles/rules.ninja
build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
